.breadcrumbs {
  margin: 0 0 31px;
  padding: 0;
  list-style: none;

  @include tablet {
    margin-bottom: 40px;
  }
}

.breadcrumbs__item {
  position: relative;
  display: inline-block;

  &:not(:last-child) {
    padding-right: 14px;
    margin-right: 10px;

    &:after {
      content: "/";
      position: absolute;
      right: 0;
      color: #9AA3BA;
    }

    @include tablet {
      padding-right: 17px;
      font-size: 18px;
      line-height: 22px;
    }
  }
    
  & a {
    text-decoration: none;
    color: #9AA3BA;
  }
}