.header {
  box-sizing: border-box;
  background-color: #F5F7F9;
  z-index: 100;

  @include mobile-only {
    position: relative;
  }
}

.header__inner {
  position: relative;

  @include mobile-only {
    width: 100%;
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 18px;
  }
}

.header__logo {
  @include mobile-only {
    text-align: center;
    padding: 10px 0;
  }
}